<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dots and Boxes Game</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="skeleton/css/normalize.css">
  <link rel="stylesheet" href="skeleton/css/skeleton.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/timbiriche.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>

  
  <div class="container">
    
    <h1>
      <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>
      Dots and Boxes Game
    </h1>

    <div class="row notice hidden" id="errors">
      <h4 class="red">ERROR</h4>
      <p class="red">This is an error</p>
    </div>

    <!-- User input
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row hidden" id="section_create_game">

      <div class="five columns offset-by-four">
        <form id="form_create_game">
          <label for="game_name">Game's name</label>
          <input type="text" id="game_name" name="game[name]"
            class="u-full-width"
            required
            placeholder="Type a name for the game">
          <div class="row">
            <div class="six columns">
              <label for="game_players">Players</label>
              <input type="number" name="game[players]" id="game_players"
                class="u-full-width"
                min="2"
                max="4"
                placeholder="#"
                required>
            </div>
            <div class="six columns">
              <label for="game_size">Board Size <small>(n x n)</small></label>
              <input type="number" name="game[size]"id="game_size"
                class="u-full-width"
                min="3"
                max="8"
                placeholder="#"
                required>
            </div>
          </div>
          <button class="button-alt u-full-width" type="submit">
            <i class="fa fa-fw fa-2x fa-gamepad"></i>
            Start game
          </button>
        </form>
      </div>
    </div>


    
    <!-- BUTTONS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row" id="section_buttons">
      <!-- IMAGE -->
      <div class="two columns offset-by-two">
        <img src="images/tec.png" alt="Timbiriche"
          class="u-max-full-width styled">
      </div>
      <!-- BUTTONS -->
      <div class="six columns">
        <button type="submit" class="button-primary u-full-width"
          id="btn_create_game">
          <i class="fa fa-fw fa-2x fa-plus-circle"></i>
          Create game
        </button>
        <button type="submit" class="button-primary u-full-width"
          id="btn_join_game">
          <i class="fa fa-fw fa-2x fa-laptop"></i>
          Join to a game
        </button>
      </div>

    </div>

    <!-- User input
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row hidden" id="section_join_game">
      <div class="four columns offset-by-four">
        <form id="form_join_game">
          <label for="game_id">Join to a game</label>
          <p class="notice hidden" id="no_games">There are no games available</p>
          <div id="select_game">
            <select name="game[id]" id="game_id" class="u-full-width" required>
            </select>
            <button class="button-alt u-full-width" type="submit">
              <i class="fa fa-fw fa-2x fa-gamepad"></i>
              Start game
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Status
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row hidden" id="section_status">

      <div class="eight columns offset-by-two">
        <table class="u-full-width table">
          <thead>
            <tr>
              <th class="small">PLAYER</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong id="status_player_number">1</strong>
              </td>
              <td>
                <i class="fa fa-fw fa-spinner fa-pulse"></i>
                <span id="status" class="green">Some state</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- Game board
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row hidden" id="section_game_board">
      <div id="game_board">
        <table>
          <!-- TABLERO DE EJEMPLO -->
          <!-- <tr>
            <td class="dot active"></td>
            <td class="horizontal line active"></td>
            <td class="dot active"></td>
            <td class="horizontal line">
              <a href="/make_move/A0">A0</a>
            </td>
            <td class="dot"></td>
            <td class="horizontal line"></td>
            <td class="dot"></td>
          </tr>
          <tr>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
          </tr>
          <tr>
            <td class="dot"></td>
            <td class="horizontal line"></td>
            <td class="dot"></td>
            <td class="horizontal line"></td>
            <td class="dot"></td>
            <td class="horizontal line"></td>
            <td class="dot"></td>
          </tr>
          <tr>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
          </tr>
          <tr>
            <td class="dot"></td>
            <td class="horizontal line"></td>
            <td class="dot active"></td>
            <td class="horizontal line active"></td>
            <td class="dot active"></td>
            <td class="horizontal line"></td>
            <td class="dot"></td>
          </tr>
          <tr>
            <td class="vertical line"></td>
            <td class="empty"></td>
            <td class="vertical line active"></td>
            <td class="empty">
              <p class="point">1</p>
            </td>
            <td class="vertical line active"></td>
            <td class="empty"></td>
            <td class="vertical line"></td>
          </tr>
          <tr>
            <td class="dot"></td>
            <td class="horizontal line"></td>
            <td class="dot active"></td>
            <td class="horizontal line active"></td>
            <td class="dot active"></td>
            <td class="horizontal line"></td>
            <td class="dot"></td>
          </tr> -->
        </table>
      </div>
    </div>

    <footer>
      <h6>Fernando Gómez &copy; | ITESM CEM (2015)</h6>
    </footer>
  </div>


  <script src="javascripts/jquery-1.11.3.min.js"></script>
  <script src="javascripts/timbiriche.js"></script>
</body>
</html>
